<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<!-- 配置数据库连接信息 -->
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@192.168.17.128:1521/orcl" />
				<property name="username" value="loet" />
				<property name="password" value="loet" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/oggerror/extract/sqldispose/dao/TbsFilePathDao.xml" />
		<mapper resource="com/oggerror/extract/sqldispose/dao/AddTbsSpaceDao.xml" />
		<mapper resource="com/oggerror/extract/sqldispose/dao/CreateTbsSpaceDao.xml" />
	</mappers>
</configuration>